
// Bootstrap Basics
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// GetFit Colour Palette
$darkgray: #1E1E1E;
$simplegray: #44444C;
$lavagray: #7A7A7A;
$pearlriver: #BFBFC1;
$white: #ffffff; 
$bg-color: #151618;
$pri-cc: #CCFF00;