.form-card{
  padding: 50px;
  border-radius: 20px;
  border-color: $pri-cc;
  border-width: 3px;
  border-style: solid;
  color: $white;
  max-width: 415px;
  margin: 0 auto;
  margin-top: 50px;
}

.links-gf{
  color: $pri-cc;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  text-align: center;

  &:hover{
    color: $pri-cc;
    text-decoration: underline;
  }
}