body 
{
  width: 100%;
  background-color: $bg-color !important;
  overflow-x: hidden;
}

.layout-content
{
  max-width: 768px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 100px;
}

.layout-content-home
{
  max-width: 768px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 100px;
  margin-top: 200px;
}

.login-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  max-width: 320px;
  margin: 0 auto;
}

.align-center
{
  text-align: center;
  margin: 0 auto;
}