// Defining our font typographic styles

h1 {
  font-family: $headers-font ;
  font-size:  50px !important;
}

h2 {
  font-family: $headers-font ;
  font-size:  35px;
}


h3 {
  font-family: $headers-font ;
  font-size:  30px !important;
}


h4 {
  font-family: $headers-font ;
  font-size:  25px !important;
}


h5 {
  font-family: $headers-font ;
  font-size:  20px !important;
}


h6 {
  font-family: $headers-font ;
  font-size:  18px !important;
}

p {
  font-family: $body-font;
  font-size:  16px !important;
}


.light {
  color: #fff;
}

.light.thin {
  font-weight: 200; 
}

.light.thick {
  font-weight: 700; 
}

.darkversion {
  color: #5B5B5D;
}

.darkversion.thin {
  font-weight: 200; 
}

.darkversion.thick {
  font-weight: 700; 
}

.glow {
  color: #CCFF00;
}