// Defining our font typographic styles

h1 {
  font-family: $headers-font ;
  font-size:  50px !important;
}

h2 {
  font-family: $headers-font ;
  font-size:  35px;
}


h3 {
  font-family: $headers-font ;
  font-size:  30px !important;
}


h4 {
  font-family: $headers-font ;
  font-size:  25px !important;
}


h5 {
  font-family: $headers-font ;
  font-size:  20px !important;
}


h6 {
  font-family: $headers-font ;
  font-size:  18px !important;
}

p {
  font-family: $body-font;
  font-size:  16px !important;
  font-weight: 200;
}

p.home {
  font-size:  22px !important;
  font-weight: 200;
}


.light {
  color: #94a1b2;
}

.light.thin {
  font-weight: 200; 
}

.light.thick {
  font-weight: 700; 
}

.darkversion {
  color: #5B5B5D;
}

.darkversion.thin {
  font-weight: 200; 
}

.darkversion.thick {
  font-weight: 700; 
}

.glow {
  color: #a6ff00;
}

.whity {
  color: #ffffff;
}

.headline {
  font-family: 'Inter', sans-serif;
  font-size:  50px !important;
  font-weight: 900;
}

.thick {
  font-weight: 700; 
}

.thicker {
  font-weight: 900;
}

.thin {
  font-weight: 200;
}

i
{
  cursor: pointer;
}

.nolinkstyle{
  text-decoration: none !important;
}

a {
  color: #a6ff00;
  text-decoration: none; 
  &:hover {
    color: #a6ff00;
    text-decoration: none;
  }
}
