/* Style the form */
form {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

/* Style the form inputs */

.glowbox {
  background-color: transparent;
  border: 2px solid #a6ff00;
  color: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  width: 100%;
  &:focus{
  background-color: transparent;
  border: 2px solid #a6ff00;
  color: white;
  }
  &:hover{
    
      background-color: transparent;
      border: 2px solid #a6ff00;
      color: white;
      
  }
  &:active{
    background-color: transparent;
      border: 2px solid #a6ff00;
      color: white;
  }
}

.form-control {
  background-color: transparent;
  border: 2px solid #a6ff00;
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  &:focus{
    background-color: transparent;
    border: 2px solid #a6ff00;
    color: white;
    }
    &:hover{
      
        background-color: transparent;
        border: 2px solid #a6ff00;
        color: white;
        
    }
    &:active{
      background-color: transparent;
        border: 2px solid #a6ff00;
        color: white;
    }
}

.glowbox {
  background-color: transparent;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  &:focus{
    background-color: transparent;
    border: 2px solid #a6ff00;
    color: white;
    }
    &:hover{
      
        background-color: transparent;
        border: 2px solid #a6ff00;
        color: white;
        
    }
    &:active{
      background-color: transparent;
        border: 2px solid #a6ff00;
        color: white;
    }
}




.speciality-option input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid $pri-cc;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 20px;
  margin-right: 10px;
  outline: none;
}

.speciality-option input[type="radio"]:checked {
  background-color: $pri-cc;
}

.status-label{
  font-size: 20px;
  font-weight: 500;
  color: $pri-cc;
  border:#a6ff00 2px solid;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  max-width: 150px;
  text-align: center;
  @media screen and (max-width: 450px) {
    margin-left: 20px;
  }
    
  }

  .form-control:focus {
    outline: none;
    box-shadow: none;
  }
