.messages {
  height: 100%;
  overflow: hidden;
  padding: 10px;
}

.my-message {
  color: $white;
  background-color: $sec-cc;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: 1px solid $sec-cc;
  max-width: 70%;
  margin-bottom: 10px;
  text-align: right;
  float: right;
  position: relative; /* set position property to relative */
}

.my-timestamp {
  clear: both; /* clear the float */
  display: block; /* set display property to block */
  margin-top: 5px; /* add margin-top to create space */
  text-align: right; /* align timestamp to the left */
}

.other-message {
  background-color: #a6ff00;
  color: $bg-color;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  max-width: 70%;
  margin-bottom: 10px;
  text-align: left;
  float: left;
  position: relative; /* set position property to relative */
}

.other-timestamp {
  clear: both; /* clear the float */
  display: block; /* set display property to block */
  margin-top: 5px; /* add margin-top to create space */
  text-align: left; /* align timestamp to the right */
}

#messages-container {
  height: 45vh;
  overflow-y: scroll;
  scrollbar-width: none; /* hide scrollbar for Firefox */
  -ms-overflow-style: none; /* hide scrollbar for IE 10+ */
}
#messages-container::-webkit-scrollbar { /* hide scrollbar for Webkit browsers */
  display: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.my-timestamp::before,
.other-timestamp::before {
  content: "";
  display: block;
  height: 1px;
  background-color: $bg-color;
  margin-bottom: 5px;
}

.my-timestamp,
.other-timestamp {
  font-size: 0.8em;
  color: #94a1b264;
}
