
.user-list {
  gap: 10px;
  min-width: 330px;
}

.user-card {
  display: flex;
  gap: 25px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: $darkgray;
  @media screen and (max-width: 450px) {
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 10px;
  }
}

.li-user-card {
  list-style: none;
  margin-left: -30px;
}

.title-user-card {
  flex-grow: 2;
}

.stopwatch
{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.timer-text
{
  font-size: 30px !important;
  font-weight: 400;
  color: $pri-cc;
  cursor: pointer;
  margin: 0 auto;
  display: inline;
}

.timer{
  font-size: 70px !important;
  font-weight: 700;
  color: #a6ff00;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  padding-right: 350px;
  @media screen and (max-width: 450px) {
    font-size: 50px !important;
    padding-right: 0px;
  }
}

#user-search {
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid $pri-cc;
  color: $pri-cc;
  font-size: 25px;
  width: 100%;
  box-sizing: border-box;
  background-color: $bg-color;
}

#user-search::placeholder {
  color: $pri-cc;
}

input:focus {
  outline: none;
}


.timerwatch{
  background-color: $darkgray;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.user-show-card {
  text-align: left;
  gap: 25px;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: $darkgray;
}


.mini-card {
  width: 100%;
  height: 250px;
  min-width: 200px;
  min-height: 200px;
  background-color: $pri-cc;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 500px) {
    margin-bottom: 20px;
  }
}

.mini-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mini-card-outline {
  width: 100%;
  height: 150px;
  min-width: 200px;
  min-height: 50px;
  border: 3px solid $pri-cc;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  color: $pri-cc;
  display: flex;
  align-items: center;
  @media screen and (max-width: 500px) {
    margin-bottom: 20px;
  }
}

