<div class="layout-content">

<div class="row justify-align-center">
  <h2 class="glow"> My Bookings </h2>
</div>
  <br>
<div class="user-list">
<ul id="user-ul">




<% if @bookings.empty? %>
  <p>No bookings yet.</p>
<% else %>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <p><strong>Date:</strong> <%= booking.date %></p>
        <p><strong>Time:</strong> <%= booking.time %></p>
        <p><strong>User:</strong> <%= booking.package.user.name %></p>
        <p><strong>Package:</strong> <%= booking.package.title %></p>
      </li>
    <% end %>
  </ul>
<% end %>






</div>
</div>




