<div class="layout-content">

 <h1> Our Instructors </h1>

<div class="user-list">
<ul>
  <% @users.select { |user| user.instructor }.each do |user| %>
    <li>
      <img src="<%= user.photo %>" width="100px" >
      <%= user.name %>
      <%= user.speciality %>
      <%= link_to "View", user_path(user), class: "btn-gf" %>
    </li>
  <% end %>
</ul>
</div>

</div>