<div class="layout-content">

      <img src="<%= @user.photo %>" width="100px" >
      <h1 class="light"> <%= @user.name %> </h1>
      <p class="light"><%= @user.speciality %></p>
      <p class="light"><%= @user.description %></p>

</div>