<div class="footer-container">
  <div class="row">
    <div class="col">
      <%= link_to(image_tag("https://res.cloudinary.com/ds9pt6yxa/image/upload/v1678990297/Home_bnqyh3_e1v8wq.svg",
        width: 35, crop: :fill, class: "svg-glow" ), users_path, class: "footer-icon" ) %>
        <h6 class="footer-text"> Home </h6>
    </div>

    <div class="col">

      <%= link_to(image_tag("https://res.cloudinary.com/ds9pt6yxa/image/upload/v1678990302/Profile_arqg4i_bu0ve7.svg",
        width: 35, crop: :fill), '/profile' , class: "footer-icon" ) %>
        <h6 class="footer-text"> Profile </h6>
    </div>

    <div class="col">

      <%= link_to(image_tag("https://res.cloudinary.com/ds9pt6yxa/image/upload/v1678990272/bookings_qfkptg_srpqut.svg",
        width: 35, crop: :fill), user_bookings_path(current_user), class: "footer-icon" ) %>
        <h6 class="footer-text"> Bookings </h6>

    </div>

    <div class="col">

      <%= link_to(image_tag("https://res.cloudinary.com/ds9pt6yxa/image/upload/v1678990272/chat_ftidzk_guwued.svg",
        width: 35, crop: :fill), chatrooms_path, class: "footer-icon" ) %>
        <h6 class="footer-text"> Chat </h6>

    </div>
  </div>
</div>