
<div class="footer-container">
        <div class="row">
            <div class="col">
          <%= link_to(image_tag("https://res.cloudinary.com/dbfx0jmo6/image/upload/v1677927112/GetFit/assets/neon_icons/Home_bnqyh3.svg", width: 35, crop: :fill, class: "svg-glow"), users_path, class: "footer-icon") %>
          <h6 class="footer-text"> Home </h6>
            </div>

            <div class="col">

            <%= link_to(image_tag("https://res.cloudinary.com/dbfx0jmo6/image/upload/v1677927112/GetFit/assets/neon_icons/Profile_arqg4i.svg", width: 35, crop: :fill), '/profile', class: "footer-icon") %>
            <h6 class="footer-text"> Profile </h6>
            </div>

            <div class="col">

            <%= link_to(image_tag("https://res.cloudinary.com/dbfx0jmo6/image/upload/v1677927112/GetFit/assets/neon_icons/bookings_qfkptg.svg", width: 35, crop: :fill), user_bookings_path(current_user), class: "footer-icon") %>
            <h6 class="footer-text"> Bookings </h6>

            </div>

            <div class="col">

            <%= link_to(image_tag("https://res.cloudinary.com/dbfx0jmo6/image/upload/v1677927112/GetFit/assets/neon_icons/chat_ftidzk.svg", width: 35, crop: :fill), '/chatrooms/index', class: "footer-icon") %>
            <h6 class="footer-text"> Chat </h6>

            </div>
        </div>
    </div>
