<!--

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dbfx0jmo6/image/upload/v1676710070/GetFit/GetFit.mu_PNG_IDENTITY-07_cdvldx.png", width: 80, crop: :fill %>
    <% end %>

<img src="https://res.cloudinary.com/dbfx0jmo6/image/upload/v1677948543/GetFit/assets/Img/profile_circle_heusxq.png" width="60px">

  </div>
</div>

-->