<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dbfx0jmo6/image/upload/v1676710070/GetFit/GetFit.mu_PNG_IDENTITY-07_cdvldx.png", width: 80, crop: :fill %>
    <% end %>

<h1 class="headline light"> GetFit.mu </h1>
  </div>
</div>