
.btn-gf {
padding: 12px 20px;
gap: 10px;
background: $darkgrey ;
color: $white ;
border-radius: 8px;
border-color: transparent;
}

.btn-gf:hover {
  padding: 12px 20px;
  gap: 10px;
  background: $lavagrey ;
  color: $white ;
  border-radius: 8px;
  border-color: transparent;
  }