
.btn-gf {
padding: 12px 20px;
gap: 10px;
background: $pri-cc ;
color: $darkgray ;
border-radius: 30px;
border-color: transparent;
text-decoration: none;
margin-top: 20px;
width: 100%;
font-weight: 700;
}

.btn-gf:hover {
  padding: 12px 20px;
  gap: 10px;
  background: $sec-cc;
  color: $white;
  border-radius: 30px;
  border-color: transparent;
  }


  .btn-gf-disabled {
    padding: 12px 20px;
    gap: 10px;
    background: $pri-cc ;
    color: $darkgray ;
    border-radius: 30px;
    border-color: transparent;
    text-decoration: none;
    margin-top: 20px;
    width: 100%;
    font-weight: 700;
    opacity: 0.3;
    }
    
    .btn-gf-disabled:hover {
      padding: 12px 20px;
      gap: 10px;
      border-radius: 30px;
      border-color: transparent;
      }