.footer-container
{
  color: $pri-cc;
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
  max-width: 415px;
}

.footer-text
{
  color: $pri-cc;
  text-align: center;
  font-size: 14px !important;
  margin: 0 auto;
  font-weight: 400;
  padding-top: 20px;
}