.navbar-lewagon {
  max-width: 768px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
